<%- include ('./header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Statistiques</h1>
<h2>Compteurs instantanés</h2>

<div style="height: 600px; width: 1000px;">
    <canvas id="power-chart"></canvas>
</div>


<script>
    let context = document.getElementById("power-chart").getContext('2d')
    console.log("stats",<%- JSON.stringify(dataDay) %>, <%- JSON.stringify(dataPowerDay) %>);

    new Chart(context, {
        type: 'bar',
        data: {
            labels: <%- JSON.stringify(dataDay) %>,
            datasets: [{ 
                data: <%- JSON.stringify(dataPowerDay) %>,
                label: "Conso Journalière",
                backgroundColor: "#3e95cd",
                stack: "stack0"
            }]
        },
        option: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    })
</script>


<%- include ('./footer') -%>