<%- include ('./header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Statistiques</h1>
<h2>Compteurs instantanés</h2>

<div class="#chart-wrapper">
    <canvas id="power-chart" style="height:60vh; width:90vw"></canvas>
</div>


<script>
    let context = document.getElementById("power-chart").getContext('2d')
    console.log("stats",<%- JSON.stringify(dataDay) %>, <%- JSON.stringify(dataPowerInst) %>);

    new Chart(context, {
        type: 'line',
        data: {
            labels: <%- JSON.stringify(dataDay) %>,
            datasets: [{ 
                data: <%- JSON.stringify(dataPowerInst) %>,
                fill: true,
                pointStyle: false,
                label: "Conso Instantanée",
                backgroundColor: "#3e95cd"
            }]
        },
        option: {
            scales: {
                x: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%b %H:%M:%S'
                    },
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    })
</script>


<%- include ('./footer') -%>